body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f0f0f;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: black;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.btn {
    padding: 10px 20px;
    background: black;
    color: white;
    text-decoration: none;
}

.title {
    text-align: center;
    margin: 40px 0;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #1a1a1a;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 20px;
    background: black;
    margin-top: 50px;
}